*{
    box-sizing: border-box;
    
}

h1 {
    text-align: center;
    padding: 0 20px;
    border-radius: 40px;
    background-color: aqua;
    color: rgb(229, 86, 34);
    margin: 0 auto 50px;
    max-width: 80vh;
}

body{
    
    background-color: #afdba7;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.search-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    position: relative;
    height: 50px;
}
.search .input {
    border-radius: 18px;
    border: 0;
    border-color: aliceblue;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: 0.7s ;
}
.btn {
    background-color: aliceblue;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.search.active .input{
    width: 350px;
    padding-left: 55px;
}